<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/userForm.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #294b80">
<div class="container">
    <div class="row">
        <div class="form">
            <form action="#" th:action="@{/admin/addSong/{id}(id=${id})}" method="post" th:object="${song}">
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                    <input type="text" class="input" placeholder="Name" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></label>
                    <input type="text" class="input" placeholder="Author" th:field="*{author}">
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></label>
                    <input type="text" class="input" placeholder="Duration" th:field="*{duration}">
                </div>
                <button type="submit">ADD SONG</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>