<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlayApp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background-color: #294b80">
<ul class="nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Playlists</a></li>
    <li><a href="#">Invoices</a></li>
    <li class="logout"><a href="#">Log out</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Songs</a></li>
</ul>
<h1>Playlists</h1>
<section class="mainSec">
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Subscribe price</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr th:each="playlist : ${playlists}">
                <td><span th:utext="${playlist.title}"></span></td>
                <td><span th:utext="${playlist.author}"></span></td>
                <td><span th:utext="${playlist.genre}"></span></td>
                <td><span th:utext="${playlist.subFee}"></span></td>
                <td>
                    <form th:object="${playlist}" th:method="POST">
                        <button class="sub"><a th:href="@{/admin/addSong/{id}(id=*{id})}">Subscribe</a></button>
                    </form>
                    <form th:object="${playlist}" th:method="POST">
                        <button class="sub"><a th:href="@{/admin/songs/{id}(id=*{id})}">Songs</a></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="add" type="submit"><a th:href="@{/admin/addPlaylist}">ADD PLAYLIST</a></button>
</section>
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>